autotypein_v1.6.json
{
    "nodes": [
        {
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "field": "weeks",
                            "triggerAtDay": [
                                1
                            ],
                            "triggerAtHour": 13
                        }
                    ]
                }
            },
            "name": "每週一下午觸發",
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1.2,
            "position": [
                -208,
                96
            ],
            "id": "059fe8cd-cac5-47b7-b1b0-8e43a6f11be9"
        },
        {
            "parameters": {
                "operation": "append",
                "documentId": {
                    "__rl": true,
                    "value": "YOUR_SPREADSHEET_ID_HERE",
                    "mode": "url"
                },
                "sheetName": {
                    "__rl": true,
                    "value": "={{ $now.format('yyyy/MM') }}",
                    "mode": "name"
                },
                "columns": {
                    "mappingMode": "defineBelow",
                    "value": {
                        "日期": "={{ $json.date }}",
                        "品牌": "={{ $json.brand }}",
                        "文章": "={{ $json.title }}",
                        "臉書": "={{ false}}",
                        "官網連結": "={{ $json.full_link }}",
                        "媒體": "={{ false}}",
                        "首頁": "={{ true}}",
                        "電子報": "={{ false}}",
                        "官網": "={{ true}}",
                        "雲端連結": "={{ $node[\"抓新文章雲端_v2\"].json.files[0]?.webViewLink || '' }}"
                    },
                    "matchingColumns": [],
                    "schema": [
                        {
                            "id": "日期",
                            "displayName": "日期",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "品牌",
                            "displayName": "品牌",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "文章",
                            "displayName": "文章",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "官網",
                            "displayName": "官網",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "電子報",
                            "displayName": "電子報",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "首頁",
                            "displayName": "首頁",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "媒體",
                            "displayName": "媒體",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "臉書",
                            "displayName": "臉書",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "雲端連結",
                            "displayName": "雲端連結",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "官網連結",
                            "displayName": "官網連結",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true
                        }
                    ],
                    "attemptToConvertTypes": false,
                    "convertFieldsToString": false
                }
            },
            "name": "寫入當月分頁",
            "type": "n8n-nodes-base.googleSheets",
            "typeVersion": 4.5,
            "position": [
                1550,
                150
            ],
            "id": "fc288244-f005-4d6c-8894-4cffd6f49ae7",
            "credentials": {
                "googleSheetsOAuth2Api": {
                    "id": "YOUR_CREDENTIAL_ID_HERE",
                    "name": "YOUR_CREDENTIAL_NAME_HERE"
                }
            }
        },
        {
            "parameters": {
                "url": "https://www.i-buzz.com.tw/article/viewpoints/",
                "options": {}
            },
            "name": "抓取觀點文章頁面",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                32,
                96
            ],
            "id": "76a49917-c1e0-49af-8df0-b8997066b9f5"
        },
        {
            "parameters": {
                "jsCode": "/* \n * 修正版邏輯：\n * 原本只抓「本週一」當天的文章。\n * 改為抓取「本週一 00:00」到「下週一 00:00」之間的所有文章。\n * 也就是本週一到週日的新文章都會被保留。\n */\nconst items = $input.all();\nif (items.length === 0 || !items[0].json.data) {\n  return [];\n}\nconst html = items[0].json.data;\n// 1. 計算本週一與下週一的日期界線\nconst now = new Date();\nconst currentDay = now.getDay(); // 0(Sun) ~ 6(Sat)\n// 計算回到本週一的差距\n// 如果今天是週日(0)，要減6天回到週一；如果今天是週一(1)，減0天；如果今天是週二(2)，減1天...\nconst diffToMonday = currentDay === 0 ? -6 : 1 - currentDay;\n// 設定本週一 (00:00:00)\nconst mondayDate = new Date(now);\nmondayDate.setDate(now.getDate() + diffToMonday);\nmondayDate.setHours(0, 0, 0, 0);\n// 設定下週一 (作為結束界線)\nconst nextMondayDate = new Date(mondayDate);\nnextMondayDate.setDate(mondayDate.getDate() + 7);\nconst articles = [];\nconst rawItems = html.split('<div class=\"result_item\">');\n// 2. 定義增強版 Regex (不限屬性順序)\nconst titleRegex = /<h2>(.*?)<\\/h2>/;\nconst linkTagRegex = /<a[^>]+class=\"item_cover\"[^>]*>/; \nconst hrefRefex = /href=\"([^\"]+)\"/;\nconst dateRegex = /class=\"item_date\">(.*?)<\\/div>/;\nconst categoryRegex = /class=\"item_type\"[^>]*>(.*?)<\\/a>/;\n// 3. 遍歷所有文章\nfor (let i = 1; i < rawItems.length; i++) {\n  const itemHtml = rawItems[i];\n  \n  const titleMatch = itemHtml.match(titleRegex);\n  const dateMatch = itemHtml.match(dateRegex);\n  const categoryMatch = itemHtml.match(categoryRegex);\n  \n  // 解析連結\n  let link = null;\n  const linkTagMatch = itemHtml.match(linkTagRegex);\n  if (linkTagMatch) {\n     const hrefMatch = linkTagMatch[0].match(hrefRefex);\n     if (hrefMatch) link = hrefMatch[1];\n  }\n  // 確保所有欄位都抓到了\n  if (titleMatch && link && dateMatch && categoryMatch) {\n    const title = titleMatch[1].trim();\n    const dateStr = dateMatch[1].trim(); // 例如 \"2023-10-25\"\n    const category = categoryMatch[1].trim();\n    \n    // 解析文章日期可以比較的時間格式\n    // 假設 dateStr 格式固定為 YYYY-MM-DD\n    const parts = dateStr.split('-');\n    if (parts.length === 3) {\n        // new Date(y, m-1, d)\n        const articleDate = new Date(\n            parseInt(parts[0], 10), \n            parseInt(parts[1], 10) - 1, \n            parseInt(parts[2], 10)\n        );\n        \n        // 4. 【關鍵過濾】改為範圍判斷： >= 本週一 且 < 下週一\n        if (articleDate >= mondayDate && articleDate < nextMondayDate) {\n            \n            let brand = '其他';\n            if (category === '消費者洞察') brand = 'iBuzz(消費者洞察)';\n            else if (category === '網紅行銷策略') brand = 'Asia KOL';\n            else if (category === '數據分析解方') brand = '業務提供';\n            else if (category === '社群粉絲團健檢') brand = 'Fans Feed';\n            const full_link = link.startsWith('http') ? link : 'https://www.i-buzz.com.tw' + link;\n            articles.push({\n              json: {\n                title: title,\n                date: dateStr,\n                brand: brand,\n                full_link: full_link\n              }\n            });\n        }\n    }\n  }\n}\nreturn articles;"
            },
            "name": "拆出當周新文章",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                256,
                96
            ],
            "id": "8f4fd1ba-98d6-442e-b2bd-c0651bb9bc51"
        },
        {
            "parameters": {
                "mode": "combine",
                "combineBy": "combineByPosition",
                "options": {}
            },
            "type": "n8n-nodes-base.merge",
            "typeVersion": 3.2,
            "position": [
                1300,
                150
            ],
            "id": "6457bdfc-7c94-4cb6-ada9-7db58581649b",
            "name": "Merge"
        },
        {
            "parameters": {
                "url": "https://www.googleapis.com/drive/v3/files",
                "authentication": "predefinedCredentialType",
                "nodeCredentialType": "googleDriveOAuth2Api",
                "sendQuery": true,
                "queryParameters": {
                    "parameters": [
                        {
                            "name": "q",
                            "value": "='{{ ($json.brand || \"\").includes(\"Asia KOL\") ? \"YOUR_FOLDER_ID_HERE\" : ($json.brand || \"\").includes(\"Fans Feed\") ? \"YOUR_FOLDER_ID_HERE\" : \"YOUR_FOLDER_ID_HERE\" }}' in parents and mimeType = 'application/vnd.google-apps.folder' and (name contains '{{ $today.toFormat(\"yyyyMMdd\") }}' or name contains '{{ $today.toFormat(\"yyyy-MM-dd\") }}' or name contains '{{ $today.toFormat(\"MMdd\") }}' or name contains '{{ $today.toFormat(\"M/d\") }}' or name contains '{{ $today.toFormat(\"M-d\") }}') and trashed = false"
                        },
                        {
                            "name": "fields",
                            "value": "files(id, name, webViewLink, parents)"
                        },
                        {
                            "name": "supportsAllDrives",
                            "value": "true"
                        },
                        {
                            "name": "includeItemsFromAllDrives",
                            "value": "true"
                        }
                    ]
                },
                "options": {}
            },
            "name": "抓新文章雲端_v2",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                880,
                250
            ],
            "id": "ffd3433b-e448-4a9f-a5f5-c7f7184cc580",
            "credentials": {
                "googleDriveOAuth2Api": {
                    "id": "YOUR_CREDENTIAL_ID_HERE",
                    "name": "YOUR_CREDENTIAL_NAME_HERE"
                }
            }
        },
        {
            "parameters": {
                "url": "https://www.googleapis.com/drive/v3/files",
                "authentication": "predefinedCredentialType",
                "nodeCredentialType": "googleDriveOAuth2Api",
                "sendQuery": true,
                "queryParameters": {
                    "parameters": [
                        {
                            "name": "q",
                            "value": "='{{ ($node[\"拆出當周新文章\"].json.brand || \"\").includes(\"Asia KOL\") ? \"YOUR_FOLDER_ID_HERE\" : ($node[\"拆出當周新文章\"].json.brand || \"\").includes(\"Fans Feed\") ? \"YOUR_FOLDER_ID_HERE\" : \"YOUR_FOLDER_ID_HERE\" }}' in parents and name = '已上稿' and mimeType = 'application/vnd.google-apps.folder' and trashed = false"
                        },
                        {
                            "name": "fields",
                            "value": "files(id, name)"
                        },
                        {
                            "name": "supportsAllDrives",
                            "value": "true"
                        },
                        {
                            "name": "includeItemsFromAllDrives",
                            "value": "true"
                        }
                    ]
                },
                "options": {}
            },
            "name": "尋找已上稿資料夾",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                1150,
                400
            ],
            "id": "c3faaeba-888b-415b-8f75-0e50e2d7c935",
            "credentials": {
                "googleDriveOAuth2Api": {
                    "id": "YOUR_CREDENTIAL_ID_HERE",
                    "name": "YOUR_CREDENTIAL_NAME_HERE"
                }
            }
        },
        {
            "parameters": {
                "method": "PATCH",
                "url": "=https://www.googleapis.com/drive/v3/files/{{ $node[\"抓新文章雲端_v2\"].json.files[0].id }}",
                "authentication": "predefinedCredentialType",
                "nodeCredentialType": "googleDriveOAuth2Api",
                "sendQuery": true,
                "queryParameters": {
                    "parameters": [
                        {
                            "name": "addParents",
                            "value": "={{ $json.files[0].id }}"
                        },
                        {
                            "name": "removeParents",
                            "value": "={{ $node[\"抓新文章雲端_v2\"].json.files[0].parents[0] }}"
                        },
                        {
                            "name": "supportsAllDrives",
                            "value": "true"
                        }
                    ]
                },
                "options": {}
            },
            "name": "搬移至已上稿",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                1350,
                400
            ],
            "id": "8133b176-26dd-45b3-a11c-e5386f14035a",
            "credentials": {
                "googleDriveOAuth2Api": {
                    "id": "YOUR_CREDENTIAL_ID_HERE",
                    "name": "YOUR_CREDENTIAL_NAME_HERE"
                }
            }
        },
        {
            "parameters": {
                "resource": "folder",
                "name": "={{ (() => { const d = new Date(); const day = d.getDay(); const diff = day <= 3 ? 3 - day : 10 - day; const wed = new Date(d); wed.setDate(d.getDate() + diff); const y = wed.getFullYear(); const m = String(wed.getMonth()+1).padStart(2,'0'); const dd = String(wed.getDate()).padStart(2,'0'); return y+m+dd; })() }}",
                "driveId": {
                    "__rl": true,
                    "value": "My Drive",
                    "mode": "list"
                },
                "folderId": {
                    "__rl": true,
                    "value": "YOUR_FOLDER_ID_HERE",
                    "mode": "id"
                },
                "options": {}
            },
            "type": "n8n-nodes-base.googleDrive",
            "typeVersion": 3,
            "position": [
                1050,
                0
            ],
            "id": "5ebf049e-7f3c-4b4f-af12-1088d441afab",
            "name": "建立本週三主資料夾",
            "credentials": {
                "googleDriveOAuth2Api": {
                    "id": "YOUR_CREDENTIAL_ID_HERE",
                    "name": "YOUR_CREDENTIAL_NAME_HERE"
                }
            }
        },
        {
            "parameters": {
                "resource": "folder",
                "name": "={{ $node[\"拆出當周新文章\"].json.brand === 'Asia KOL' ? '【AsiaKOL網紅分析】' + $node[\"拆出當周新文章\"].json.title : $node[\"拆出當周新文章\"].json.brand === 'iBuzz(消費者洞察)' ? '【i-Buzz產業數據】' + $node[\"拆出當周新文章\"].json.title : '【FANS FEED社群分析】' + $node[\"拆出當周新文章\"].json.title }}",
                "driveId": {
                    "__rl": true,
                    "mode": "list",
                    "value": "My Drive"
                },
                "folderId": {
                    "__rl": true,
                    "value": "={{ $node[\"搜尋主資料夾\"].json.files?.[0]?.id || $node[\"建立本週三主資料夾\"].json.id }}",
                    "mode": "id"
                },
                "options": {}
            },
            "type": "n8n-nodes-base.googleDrive",
            "typeVersion": 3,
            "position": [
                1550,
                -50
            ],
            "id": "5b027e97-d830-451c-8376-3d9f37046c3a",
            "name": "建立文章子資料夾",
            "credentials": {
                "googleDriveOAuth2Api": {
                    "id": "YOUR_CREDENTIAL_ID_HERE",
                    "name": "YOUR_CREDENTIAL_NAME_HERE"
                }
            }
        },
        {
            "parameters": {
                "url": "https://www.googleapis.com/drive/v3/files",
                "authentication": "predefinedCredentialType",
                "nodeCredentialType": "googleDriveOAuth2Api",
                "sendQuery": true,
                "queryParameters": {
                    "parameters": [
                        {
                            "name": "q",
                            "value": "={{ \"name = '\" + (() => { const d = new Date(); const day = d.getDay(); const diff = day <= 3 ? 3 - day : 10 - day; const wed = new Date(d); wed.setDate(d.getDate() + diff); const y = wed.getFullYear(); const m = String(wed.getMonth()+1).padStart(2,'0'); const dd = String(wed.getDate()).padStart(2,'0'); return y+m+dd; })() + \"' and 'YOUR_FOLDER_ID_HERE' in parents and mimeType = 'application/vnd.google-apps.folder' and trashed = false\" }}"
                        },
                        {
                            "name": "fields",
                            "value": "files(id, name, webViewLink, parents)"
                        },
                        {
                            "name": "supportsAllDrives",
                            "value": "true"
                        },
                        {
                            "name": "includeItemsFromAllDrives",
                            "value": "true"
                        }
                    ]
                },
                "options": {}
            },
            "name": "搜尋主資料夾",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                480,
                130
            ],
            "id": "4dd73e0e-895a-4c33-a2e1-1a035ac88d1b",
            "credentials": {
                "googleDriveOAuth2Api": {
                    "id": "YOUR_CREDENTIAL_ID_HERE",
                    "name": "YOUR_CREDENTIAL_NAME_HERE"
                }
            }
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict",
                        "version": 3
                    },
                    "conditions": [
                        {
                            "id": "check-found",
                            "leftValue": "={{ $node[\"搜尋主資料夾\"].json.files.length }}",
                            "rightValue": 1,
                            "operator": {
                                "type": "number",
                                "operation": "smaller"
                            }
                        }
                    ],
                    "combinator": "and"
                }
            },
            "name": "判斷資料夾是否存在",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2.3,
            "position": [
                750,
                130
            ],
            "id": "69317711-9be3-4bf7-9baa-bdb854a0c7dd"
        }
    ],
    "connections": {
        "每週一下午觸發": {
            "main": [
                [
                    {
                        "node": "抓取觀點文章頁面",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "抓取觀點文章頁面": {
            "main": [
                [
                    {
                        "node": "拆出當周新文章",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "拆出當周新文章": {
            "main": [
                [
                    {
                        "node": "抓新文章雲端_v2",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "搜尋主資料夾",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Merge": {
            "main": [
                [
                    {
                        "node": "寫入當月分頁",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "建立文章子資料夾",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "抓新文章雲端_v2": {
            "main": [
                [
                    {
                        "node": "尋找已上稿資料夾",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Merge",
                        "type": "main",
                        "index": 1
                    }
                ]
            ]
        },
        "尋找已上稿資料夾": {
            "main": [
                [
                    {
                        "node": "搬移至已上稿",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "建立本週三主資料夾": {
            "main": [
                [
                    {
                        "node": "Merge",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "搜尋主資料夾": {
            "main": [
                [
                    {
                        "node": "判斷資料夾是否存在",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "判斷資料夾是否存在": {
            "main": [
                [
                    {
                        "node": "建立本週三主資料夾",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Merge",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}