autotypein.json
{
    "nodes": [
        {
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "field": "weeks",
                            "triggerAtDay": [
                                1
                            ],
                            "triggerAtHour": 15
                        }
                    ]
                }
            },
            "name": "每週一下午觸發",
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1.2,
            "position": [
                -208,
                176
            ],
            "id": "059fe8cd-cac5-47b7-b1b0-8e43a6f11be9"
        },
        {
            "parameters": {
                "url": "https://www.i-buzz.com.tw/article/viewpoints/",
                "options": {}
            },
            "name": "抓取觀點文章頁面",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                32,
                176
            ],
            "id": "76a49917-c1e0-49af-8df0-b8997066b9f5"
        },
        {
            "parameters": {
                "jsCode": "const items = $input.all();\nif (items.length === 0 || !items[0].json.data) {\n  return [];\n}\nconst html = items[0].json.data;\nconst now = new Date();\nconst currentDay = now.getDay();\nconst diffToMonday = currentDay === 0 ? -6 : 1 - currentDay;\nconst mondayDate = new Date(now);\nmondayDate.setDate(now.getDate() + diffToMonday);\nmondayDate.setHours(0, 0, 0, 0);\nconst nextMondayDate = new Date(mondayDate);\nnextMondayDate.setDate(mondayDate.getDate() + 7);\nconst articles = [];\nconst rawItems = html.split('<div class=\"result_item\">');\nconst titleRegex = /<h2>(.*?)<\\/h2>/;\nconst linkTagRegex = /<a[^>]+class=\"item_cover\"[^>]*>/; \nconst hrefRefex = /href=\"([^\\\"\\\\\"]+)\"/;\nconst dateRegex = /class=\"item_date\">(.*?)<\\/div>/;\nconst categoryRegex = /class=\"item_type\"[^>]*>(.*?)<\\/a>/;\nfor (let i = 1; i < rawItems.length; i++) {\n  const itemHtml = rawItems[i];\n  const titleMatch = itemHtml.match(titleRegex);\n  const dateMatch = itemHtml.match(dateRegex);\n  const categoryMatch = itemHtml.match(categoryRegex);\n  let link = null;\n  const linkTagMatch = itemHtml.match(linkTagRegex);\n  if (linkTagMatch) {\n     const hrefMatch = linkTagMatch[0].match(hrefRefex);\n     if (hrefMatch) link = hrefMatch[1];\n  }\n  if (titleMatch && link && dateMatch && categoryMatch) {\n    const title = titleMatch[1].trim();\n    const dateStr = dateMatch[1].trim();\n    const category = categoryMatch[1].trim();\n    const parts = dateStr.split('-');\n    if (parts.length === 3) {\n        const articleDate = new Date(parseInt(parts[0], 10), parseInt(parts[1], 10) - 1, parseInt(parts[2], 10));\n        if (articleDate >= mondayDate && articleDate < nextMondayDate) {\n            let brand = '其他';\n            if (category === '消費者洞察') brand = 'iBuzz(消費者洞察)';\n            else if (category === '網紅行銷策略') brand = 'Asia KOL';\n            else if (category === '數據分析解方') brand = '業務提供';\n            else if (category === '社群粉絲團健檢') brand = 'Fans Feed';\n            const full_link = link.startsWith('http') ? link : 'https://www.i-buzz.com.tw' + link;\n            articles.push({ json: { title: title, date: dateStr, brand: brand, full_link: full_link } });\n        }\n    }\n  }\n}\nreturn articles;"
            },
            "name": "拆出當周新文章",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                256,
                176
            ],
            "id": "8e365691-3811-4648-9694-874e0c38421b"
        },
        {
            "parameters": {
                "url": "https://www.googleapis.com/drive/v3/files",
                "authentication": "predefinedCredentialType",
                "nodeCredentialType": "googleDriveOAuth2Api",
                "sendQuery": true,
                "queryParameters": {
                    "parameters": [
                        {
                            "name": "q",
                            "value": "='{{ ($json.brand || '').includes('Asia KOL') ? '1CzGWmLOqeCkkjKnuxqVbDJup-PVFfU7H' : ($json.brand || '').includes('Fans Feed') ? '1czmLljMgsk1d33fQ_GTzpMl8GBuVsT14' : '1tWsHVkYwLBaBAFhAj68K9OntLCCoQAt3' }}' in parents and mimeType = 'application/vnd.google-apps.folder' and (name contains '{{ $today.toFormat('yyyyMMdd') }}' or name contains '{{ $today.toFormat('yyyy-MM-dd') }}' or name contains '{{ $today.toFormat('MMdd') }}' or name contains '{{ $today.toFormat('M/d') }}' or name contains '{{ $today.toFormat('M-d') }}') and trashed = false"
                        },
                        {
                            "name": "fields",
                            "value": "files(id, name, webViewLink, parents)"
                        },
                        {
                            "name": "supportsAllDrives",
                            "value": "true"
                        },
                        {
                            "name": "includeItemsFromAllDrives",
                            "value": "true"
                        }
                    ]
                },
                "options": {}
            },
            "name": "抓新文章雲端_v2",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                480,
                416
            ],
            "id": "e27642aa-fc35-4b5e-827c-8b53103653c2",
            "credentials": {
                "googleDriveOAuth2Api": {
                    "id": "sgC7AFVdk5Y5yGOF",
                    "name": "Google Drive account"
                }
            }
        },
        {
            "parameters": {
                "url": "https://www.googleapis.com/drive/v3/files",
                "authentication": "predefinedCredentialType",
                "nodeCredentialType": "googleDriveOAuth2Api",
                "sendQuery": true,
                "queryParameters": {
                    "parameters": [
                        {
                            "name": "q",
                            "value": "='{{ ($node[\"拆出當周新文章\"].json.brand || \"\").includes(\"Asia KOL\") ? \"1CzGWmLOqeCkkjKnuxqVbDJup-PVFfU7H\" : ($node[\"拆出當周新文章\"].json.brand || \"\").includes(\"Fans Feed\") ? \"1czmLljMgsk1d33fQ_GTzpMl8GBuVsT14\" : \"1tWsHVkYwLBaBAFhAj68K9OntLCCoQAt3\" }}' in parents and name = '已上稿' and mimeType = 'application/vnd.google-apps.folder' and trashed = false"
                        },
                        {
                            "name": "fields",
                            "value": "files(id, name)"
                        },
                        {
                            "name": "supportsAllDrives",
                            "value": "true"
                        },
                        {
                            "name": "includeItemsFromAllDrives",
                            "value": "true"
                        }
                    ]
                },
                "options": {}
            },
            "name": "尋找已上稿資料夾",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                700,
                416
            ],
            "id": "f516842e-1234-5678-9abc-def012345678",
            "credentials": {
                "googleDriveOAuth2Api": {
                    "id": "sgC7AFVdk5Y5yGOF",
                    "name": "Google Drive account"
                }
            }
        },
        {
            "parameters": {
                "method": "PATCH",
                "url": "=https://www.googleapis.com/drive/v3/files/{{ $node[\"抓新文章雲端_v2\"].json.files[0].id }}",
                "authentication": "predefinedCredentialType",
                "nodeCredentialType": "googleDriveOAuth2Api",
                "sendQuery": true,
                "queryParameters": {
                    "parameters": [
                        {
                            "name": "addParents",
                            "value": "={{ $json.files[0].id }}"
                        },
                        {
                            "name": "removeParents",
                            "value": "={{ $node[\"抓新文章雲端_v2\"].json.files[0].parents[0] }}"
                        },
                        {
                            "name": "supportsAllDrives",
                            "value": "true"
                        }
                    ]
                },
                "options": {}
            },
            "name": "搬移至已上稿",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                950,
                416
            ],
            "id": "m516842e-1234-5678-9abc-def012345678",
            "credentials": {
                "googleDriveOAuth2Api": {
                    "id": "sgC7AFVdk5Y5yGOF",
                    "name": "Google Drive account"
                }
            }
        }
    ],
    "connections": {
        "每週一下午觸發": {
            "main": [
                [
                    {
                        "node": "抓取觀點文章頁面",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "抓取觀點文章頁面": {
            "main": [
                [
                    {
                        "node": "拆出當周新文章",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "拆出當周新文章": {
            "main": [
                [
                    {
                        "node": "抓新文章雲端_v2",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "抓新文章雲端_v2": {
            "main": [
                [
                    {
                        "node": "尋找已上稿資料夾",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "尋找已上稿資料夾": {
            "main": [
                [
                    {
                        "node": "搬移至已上稿",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}