autotypein_v1.5.json
{
    "name": "官網新文章登記系統",
    "nodes": [
        {
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "field": "weeks",
                            "triggerAtDay": [
                                1
                            ],
                            "triggerAtHour": 14
                        }
                    ]
                }
            },
            "name": "每週一下午觸發",
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1.2,
            "position": [
                -208,
                176
            ],
            "id": "059fe8cd-cac5-47b7-b1b0-8e43a6f11be9"
        },
        {
            "parameters": {
                "operation": "append",
                "documentId": {
                    "__rl": true,
                    "value": "https://docs.google.com/spreadsheets/d/1_srJdmwO8PZtXgbUeZpUWB1T79ubXhXWRZyp2LzvZmo/edit?gid=1708738764#gid=1708738764",
                    "mode": "url"
                },
                "sheetName": {
                    "__rl": true,
                    "value": "={{ $now.format('yyyy/MM') }}",
                    "mode": "name"
                },
                "columns": {
                    "mappingMode": "defineBelow",
                    "value": {
                        "日期": "={{ $json.date }}",
                        "品牌": "={{ $json.brand }}",
                        "文章": "={{ $json.title }}",
                        "臉書": "={{ false}}",
                        "官網連結": "={{ $json.full_link }}",
                        "媒體": "={{ false}}",
                        "首頁": "={{ true}}",
                        "電子報": "={{ false}}",
                        "官網": "={{ true}}",
                        "雲端連結": "={{ $json.files[0].webViewLink }}"
                    },
                    "matchingColumns": [],
                    "schema": [
                        {
                            "id": "日期",
                            "displayName": "日期",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "品牌",
                            "displayName": "品牌",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "文章",
                            "displayName": "文章",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "官網",
                            "displayName": "官網",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "電子報",
                            "displayName": "電子報",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "首頁",
                            "displayName": "首頁",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "媒體",
                            "displayName": "媒體",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "臉書",
                            "displayName": "臉書",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "雲端連結",
                            "displayName": "雲端連結",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "官網連結",
                            "displayName": "官網連結",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true
                        }
                    ],
                    "attemptToConvertTypes": false,
                    "convertFieldsToString": false
                },
                "options": {}
            },
            "name": "寫入當月分頁",
            "type": "n8n-nodes-base.googleSheets",
            "typeVersion": 4.5,
            "position": [
                1504,
                192
            ],
            "id": "fc288244-f005-4d6c-8894-4cffd6f49ae7",
            "credentials": {
                "googleSheetsOAuth2Api": {
                    "id": "QDgBdmnsKlu9ijRH",
                    "name": "Google Sheets account"
                }
            },
            "notes": "寫入當月 Tab，格式：日期|品牌|文章|...|官網連結"
        },
        {
            "parameters": {
                "url": "https://www.i-buzz.com.tw/article/viewpoints/",
                "options": {}
            },
            "name": "抓取觀點文章頁面",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                32,
                176
            ],
            "id": "76a49917-c1e0-49af-8df0-b8997066b9f5",
            "notes": "目標網站：i-Buzz Viewpoints 頁面"
        },
        {
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "field": "months"
                        }
                    ]
                }
            },
            "name": "每月1號觸發",
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1.2,
            "position": [
                -208,
                -32
            ],
            "id": "a011dcfd-8cf8-481f-a6c2-4bb913134f15"
        },
        {
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "id": "1cb7389d-6458-465a-8201-382d4715c318",
                            "name": "spreadsheet_id",
                            "value": "1_srJdmwO8PZtXgbUeZpUWB1T79ubXhXWRZyp2LzvZmo",
                            "type": "string"
                        },
                        {
                            "id": "77b88da6-45b4-49b6-93ab-3b35912e481e",
                            "name": "template_sheet_id",
                            "value": "1391772714",
                            "type": "string"
                        },
                        {
                            "id": "4838f49c-6283-447d-a406-a358faef2e93",
                            "name": "new_sheet_name",
                            "value": "={{ $now.format('yyyy/MM') }}",
                            "type": "string"
                        }
                    ]
                },
                "options": {}
            },
            "name": "設定參數",
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [
                16,
                -32
            ],
            "id": "48b40233-a33e-4e13-9ab6-dbc8ec159dc1",
            "notes": "設定試算表 ID 與模板 ID"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "=https://sheets.googleapis.com/v4/spreadsheets/{{ $json.spreadsheet_id }}/sheets/{{ $json.template_sheet_id }}:copyTo",
                "authentication": "predefinedCredentialType",
                "nodeCredentialType": "googleSheetsOAuth2Api",
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "destinationSpreadsheetId",
                            "value": "={{ $json.spreadsheet_id }}"
                        }
                    ]
                },
                "options": {}
            },
            "name": "複製 Template",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                224,
                -32
            ],
            "id": "0cba135b-01a3-44cc-be5e-b10fe42cb96a",
            "credentials": {
                "googleSheetsOAuth2Api": {
                    "id": "QDgBdmnsKlu9ijRH",
                    "name": "Google Sheets account"
                }
            },
            "notes": "執行 copyTo 指令"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "=https://sheets.googleapis.com/v4/spreadsheets/{{ $node.設定參數.json.spreadsheet_id }}:batchUpdate",
                "authentication": "predefinedCredentialType",
                "nodeCredentialType": "googleSheetsOAuth2Api",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"requests\": [\n    {\n      \"updateSheetProperties\": {\n        \"properties\": {\n          \"sheetId\": {{ $json.sheetId }},\n          \"title\": \"{{ $node.設定參數.json.new_sheet_name }}\",\n          \"index\": 3,\n          \"hidden\": false\n        },\n        \"fields\": \"title,index,hidden\"\n      }\n    }\n  ]\n}",
                "options": {}
            },
            "name": "新增tab",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                480,
                -32
            ],
            "id": "d5bb4112-f953-4ecd-8715-4020be878dcb",
            "credentials": {
                "googleSheetsOAuth2Api": {
                    "id": "QDgBdmnsKlu9ijRH",
                    "name": "Google Sheets account"
                }
            },
            "notes": "改名並移動到 Index 3 (第4順位)"
        },
        {
            "parameters": {
                "jsCode": "/* \n * 修正版邏輯：\n * 原本只抓「本週一」當天的文章。\n * 改為抓取「本週一 00:00」到「下週一 00:00」之間的所有文章。\n * 也就是本週一到週日的新文章都會被保留。\n */\nconst items = $input.all();\nif (items.length === 0 || !items[0].json.data) {\n  return [];\n}\nconst html = items[0].json.data;\n// 1. 計算本週一與下週一的日期界線\nconst now = new Date();\nconst currentDay = now.getDay(); // 0(Sun) ~ 6(Sat)\n// 計算回到本週一的差距\n// 如果今天是週日(0)，要減6天回到週一；如果今天是週一(1)，減0天；如果今天是週二(2)，減1天...\nconst diffToMonday = currentDay === 0 ? -6 : 1 - currentDay;\n// 設定本週一 (00:00:00)\nconst mondayDate = new Date(now);\nmondayDate.setDate(now.getDate() + diffToMonday);\nmondayDate.setHours(0, 0, 0, 0);\n// 設定下週一 (作為結束界線)\nconst nextMondayDate = new Date(mondayDate);\nnextMondayDate.setDate(mondayDate.getDate() + 7);\nconst articles = [];\nconst rawItems = html.split('<div class=\"result_item\">');\n// 2. 定義增強版 Regex (不限屬性順序)\nconst titleRegex = /<h2>(.*?)<\\/h2>/;\nconst linkTagRegex = /<a[^>]+class=\"item_cover\"[^>]*>/; \nconst hrefRefex = /href=\"([^\"]+)\"/;\nconst dateRegex = /class=\"item_date\">(.*?)<\\/div>/;\nconst categoryRegex = /class=\"item_type\"[^>]*>(.*?)<\\/a>/;\n// 3. 遍歷所有文章\nfor (let i = 1; i < rawItems.length; i++) {\n  const itemHtml = rawItems[i];\n  \n  const titleMatch = itemHtml.match(titleRegex);\n  const dateMatch = itemHtml.match(dateRegex);\n  const categoryMatch = itemHtml.match(categoryRegex);\n  \n  // 解析連結\n  let link = null;\n  const linkTagMatch = itemHtml.match(linkTagRegex);\n  if (linkTagMatch) {\n     const hrefMatch = linkTagMatch[0].match(hrefRefex);\n     if (hrefMatch) link = hrefMatch[1];\n  }\n  // 確保所有欄位都抓到了\n  if (titleMatch && link && dateMatch && categoryMatch) {\n    const title = titleMatch[1].trim();\n    const dateStr = dateMatch[1].trim(); // 例如 \"2023-10-25\"\n    const category = categoryMatch[1].trim();\n    \n    // 解析文章日期可以比較的時間格式\n    // 假設 dateStr 格式固定為 YYYY-MM-DD\n    const parts = dateStr.split('-');\n    if (parts.length === 3) {\n        // new Date(y, m-1, d)\n        const articleDate = new Date(\n            parseInt(parts[0], 10), \n            parseInt(parts[1], 10) - 1, \n            parseInt(parts[2], 10)\n        );\n        \n        // 4. 【關鍵過濾】改為範圍判斷： >= 本週一 且 < 下週一\n        if (articleDate >= mondayDate && articleDate < nextMondayDate) {\n            \n            let brand = '其他';\n            if (category === '消費者洞察') brand = 'iBuzz(消費者洞察)';\n            else if (category === '網紅行銷策略') brand = 'Asia KOL';\n            else if (category === '數據分析解方') brand = '業務提供';\n            else if (category === '社群粉絲團健檢') brand = 'Fans Feed';\n            const full_link = link.startsWith('http') ? link : 'https://www.i-buzz.com.tw' + link;\n            articles.push({\n              json: {\n                title: title,\n                date: dateStr,\n                brand: brand,\n                full_link: full_link\n              }\n            });\n        }\n    }\n  }\n}\nreturn articles;"
            },
            "name": "拆出當周新文章",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                256,
                176
            ],
            "id": "8f4fd1ba-98d6-442e-b2bd-c0651bb9bc51",
            "notes": "解析 HTML，過濾本週一文章，並進行品牌映射"
        },
        {
            "parameters": {
                "mode": "combine",
                "combineBy": "combineByPosition",
                "options": {}
            },
            "type": "n8n-nodes-base.merge",
            "typeVersion": 3.2,
            "position": [
                1312,
                192
            ],
            "id": "6457bdfc-7c94-4cb6-ada9-7db58581649b",
            "name": "Merge"
        },
        {
            "parameters": {
                "url": "https://www.googleapis.com/drive/v3/files",
                "authentication": "predefinedCredentialType",
                "nodeCredentialType": "googleDriveOAuth2Api",
                "sendQuery": true,
                "queryParameters": {
                    "parameters": [
                        {
                            "name": "q",
                            "value": "='{{ ($json.brand || '').includes('Asia KOL') ? '1CzGWmLOqeCkkjKnuxqVbDJup-PVFfU7H' : ($json.brand || '').includes('Fans Feed') ? '1czmLljMgsk1d33fQ_GTzpMl8GBuVsT14' : '1tWsHVkYwLBaBAFhAj68K9OntLCCoQAt3' }}' in parents and mimeType = 'application/vnd.google-apps.folder' and (name contains '{{ $today.toFormat('yyyyMMdd') }}' or name contains '{{ $today.toFormat('yyyy-MM-dd') }}' or name contains '{{ $today.toFormat('MMdd') }}' or name contains '{{ $today.toFormat('M/d') }}' or name contains '{{ $today.toFormat('M-d') }}') and trashed = false"
                        },
                        {
                            "name": "fields",
                            "value": "files(id, name, webViewLink, parents)"
                        },
                        {
                            "name": "supportsAllDrives",
                            "value": "true"
                        },
                        {
                            "name": "includeItemsFromAllDrives",
                            "value": "true"
                        }
                    ]
                },
                "options": {}
            },
            "name": "抓新文章雲端_v2",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                528,
                352
            ],
            "id": "ffd3433b-e448-4a9f-a5f5-c7f7184cc580",
            "credentials": {
                "googleDriveOAuth2Api": {
                    "id": "sgC7AFVdk5Y5yGOF",
                    "name": "Google Drive account"
                }
            }
        },
        {
            "parameters": {
                "url": "https://www.googleapis.com/drive/v3/files",
                "authentication": "predefinedCredentialType",
                "nodeCredentialType": "googleDriveOAuth2Api",
                "sendQuery": true,
                "queryParameters": {
                    "parameters": [
                        {
                            "name": "q",
                            "value": "='{{ ($node[\"拆出當周新文章\"].json.brand || \"\").includes(\"Asia KOL\") ? \"1CzGWmLOqeCkkjKnuxqVbDJup-PVFfU7H\" : ($node[\"拆出當周新文章\"].json.brand || \"\").includes(\"Fans Feed\") ? \"1czmLljMgsk1d33fQ_GTzpMl8GBuVsT14\" : \"1tWsHVkYwLBaBAFhAj68K9OntLCCoQAt3\" }}' in parents and name = '已上稿' and mimeType = 'application/vnd.google-apps.folder' and trashed = false"
                        },
                        {
                            "name": "fields",
                            "value": "files(id, name)"
                        },
                        {
                            "name": "supportsAllDrives",
                            "value": "true"
                        },
                        {
                            "name": "includeItemsFromAllDrives",
                            "value": "true"
                        }
                    ]
                },
                "options": {}
            },
            "name": "尋找已上稿資料夾",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                752,
                352
            ],
            "id": "c3faaeba-888b-415b-8f75-0e50e2d7c935",
            "credentials": {
                "googleDriveOAuth2Api": {
                    "id": "sgC7AFVdk5Y5yGOF",
                    "name": "Google Drive account"
                }
            }
        },
        {
            "parameters": {
                "method": "PATCH",
                "url": "=https://www.googleapis.com/drive/v3/files/{{ $node[\"抓新文章雲端_v2\"].json.files[0].id }}",
                "authentication": "predefinedCredentialType",
                "nodeCredentialType": "googleDriveOAuth2Api",
                "sendQuery": true,
                "queryParameters": {
                    "parameters": [
                        {
                            "name": "addParents",
                            "value": "={{ $json.files[0].id }}"
                        },
                        {
                            "name": "removeParents",
                            "value": "={{ $node[\"抓新文章雲端_v2\"].json.files[0].parents[0] }}"
                        },
                        {
                            "name": "supportsAllDrives",
                            "value": "true"
                        }
                    ]
                },
                "options": {}
            },
            "name": "搬移至已上稿",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                1024,
                352
            ],
            "id": "8133b176-26dd-45b3-a11c-e5386f14035a",
            "credentials": {
                "googleDriveOAuth2Api": {
                    "id": "sgC7AFVdk5Y5yGOF",
                    "name": "Google Drive account"
                }
            }
        }
    ],
    "pinData": {},
    "connections": {
        "每週一下午觸發": {
            "main": [
                [
                    {
                        "node": "抓取觀點文章頁面",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "抓取觀點文章頁面": {
            "main": [
                [
                    {
                        "node": "拆出當周新文章",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "每月1號觸發": {
            "main": [
                [
                    {
                        "node": "設定參數",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "設定參數": {
            "main": [
                [
                    {
                        "node": "複製 Template",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "複製 Template": {
            "main": [
                [
                    {
                        "node": "新增tab",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "拆出當周新文章": {
            "main": [
                [
                    {
                        "node": "Merge",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Merge",
                        "type": "main",
                        "index": 1
                    },
                    {
                        "node": "抓新文章雲端_v2",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Merge": {
            "main": [
                [
                    {
                        "node": "寫入當月分頁",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "抓新文章雲端_v2": {
            "main": [
                [
                    {
                        "node": "尋找已上稿資料夾",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "尋找已上稿資料夾": {
            "main": [
                [
                    {
                        "node": "搬移至已上稿",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "active": true,
    "settings": {
        "executionOrder": "v1",
        "binaryMode": "separate",
        "availableInMCP": false,
        "timeSavedMode": "fixed",
        "callerPolicy": "workflowsFromSameOwner",
        "timezone": "Asia/Taipei"
    },
    "versionId": "3a1947c0-12af-4c32-be67-1c53ccdffb68",
    "meta": {
        "templateCredsSetupCompleted": true,
        "instanceId": "254ad531709fb502638f39627ec80b627c62b753424d4c08da9b966545cce5bf"
    },
    "id": "nTtip-PDuibT0rJWcwXxb",
    "tags": []
}